{% load static %}

<!--- Espacios Compartidos-->

<div class="container-fluid section-shared-bg">
    <div id="esp-compartidos" class="container esp-compartidos">
        <h2 class="text-center mb-4">Espacios Compartidos</h2>
        <div class="row">
            <!-- Carrusel de Patio -->
            <div class="col-md-6 mb-4">
                <div id="carouselPatio" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/patio/patio1.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio2.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio3.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio4.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio5.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio6.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio7.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio8.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio9.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio10.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio11.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio12.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio13.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio14.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio15.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio16.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio17.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio18.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/patio/patio19.jpg' %}" class="d-block w-100" loading="lazy" alt="Patio">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselPatio" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselPatio" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
                <h4 class="text-center mt-3">Patio</h4>
                <p class="descripcion-espacio text-center">Disfruta de un tranquilo patio verde en el corazón de la ciudad, ideal para relajarse y compartir momentos en su zona al aire libre y galería.</p>
            </div>

            <!-- Carrusel de Cocina -->
            <div class="col-md-6 mb-4">
                <div id="carouselCocina" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/cocina/cocina1.jpg' %}" class="d-block w-100" loading="lazy" alt="Cocina 1">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/cocina/cocina2.jpg' %}" class="d-block w-100" loading="lazy" alt="Cocina 2">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/cocina/cocina3.jpg' %}" class="d-block w-100" loading="lazy" alt="Cocina 3">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/cocina/cocina4.jpg' %}" class="d-block w-100" loading="lazy" alt="Cocina 3">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/cocina/cocina5.jpg' %}" class="d-block w-100" loading="lazy" alt="Cocina 3">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselCocina" role="button" data-bs-slide="prev"> 
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselCocina" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
                <h4 class="text-center mt-3">Cocina</h4>
                <p class="descripcion-espacio text-center">Cocina totalmente equipada disponible para nuestros huéspedes.</p>
            </div>

            <!-- Carrusel de Living -->
            <div class="col-md-6 mb-4">
                <div id="carouselLiving" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/living/living1.jpg' %}" class="d-block w-100" loading="lazy" alt="Living">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/living/living2.jpg' %}" class="d-block w-100" loading="lazy" alt="Living">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/living/living3.jpg' %}" class="d-block w-100" loading="lazy" alt="Living">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/living/living4.jpg' %}" class="d-block w-100" loading="lazy" alt="Living">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/living/living5.jpg' %}" class="d-block w-100" loading="lazy" alt="Living">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/living/living6.jpg' %}" class="d-block w-100" loading="lazy" alt="Living">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/living/living7.jpg' %}" class="d-block w-100" loading="lazy" alt="Living">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/living/living8.jpg' %}" class="d-block w-100" loading="lazy" alt="Living">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/living/living9.jpg' %}" class="d-block w-100" loading="lazy" alt="Living">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/living/living10.jpg' %}" class="d-block w-100" loading="lazy" alt="Living">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/living/living11.jpg' %}" class="d-block w-100" loading="lazy" alt="Living">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselLiving" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselLiving" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
                <h4 class="text-center mt-3">Living</h4>
                <p class="descripcion-espacio text-center">Nuestros amplios espacios compartidos fusionan el encanto de una casona antigua con un diseño arquitectónico contemporáneo. Son el lugar perfecto para relajarse y disfrutar de momentos juntos en un entorno que combina historia y estilo moderno.</p>
            </div>

            <!-- Carrusel de Barrio -->
            <div class="col-md-6 mb-4">
                <div id="carouselBarrio" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/barrio/barrio1.jpg' %}" class="d-block w-100" loading="lazy" alt="Barrio 1">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/barrio/barrio2.jpg' %}" class="d-block w-100" loading="lazy" alt="Barrio 2">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/barrio/barrio3.jpg' %}" class="d-block w-100" loading="lazy" alt="Barrio 3">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/barrio/barrio4.jpg' %}" class="d-block w-100" loading="lazy" alt="Barrio 3">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselBarrio" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselBarrio" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
                <h4 class="text-center mt-3">Barrio</h4>
                <p class="descripcion-espacio text-center">Situado en el centro histórico de la ciudad, nuestro hostel se encuentra en la arbolada Avenida 53, a solo dos cuadras y media de Plaza Moreno y a una cuadra y media de Plaza Malvinas. Es una ubicación ideal para disfrutar de un entorno urbano lleno de historia y naturaleza.</p>
            </div>
        </div>
    </div>    
</div>