{% load static %}

<!-- Sección 3: Habitaciones -->
<div class="section-rooms-bg">
    <div id="habitaciones" class="container mb-3 no-margin-bottom">
        <h2 class="text-center mb-4">Nuestras Habitaciones</h2>
        <div class="seccion-habitaciones justify-content-center">

            <!-- Habitación Rock -->
            <div class="row justify-content-center cont-habitacion">          
                <div class="col-md-6">
                    <div id="carouselRock" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="{% static 'img/habitaciones/rock/rock1.jpg' %}" data-fancybox="gallery-rock">
                                    <img src="{% static 'img/habitaciones/rock/rock1.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación rock1">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/rock/rock2.jpg' %}" data-fancybox="gallery-rock">
                                    <img src="{% static 'img/habitaciones/rock/rock2.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación rock2">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/rock/rock3.jpg' %}" data-fancybox="gallery-rock3">
                                    <img src="{% static 'img/habitaciones/rock/rock3.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación rock3">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/rock/rock4.jpg' %}" data-fancybox="gallery-rock">
                                    <img src="{% static 'img/habitaciones/rock/rock4.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación rock4">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/rock/rock5.jpg' %}" data-fancybox="gallery-rock">
                                    <img src="{% static 'img/habitaciones/rock/rock5.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación rock5">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/rock/rock6.jpg' %}" data-fancybox="gallery-rock">
                                    <img src="{% static 'img/habitaciones/rock/rock6.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación rock6">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/rock/rock7.jpg' %}" data-fancybox="gallery-rock">
                                    <img src="{% static 'img/habitaciones/rock/rock7.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación rock7">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/rock/rock8.jpg' %}" data-fancybox="gallery-rock">
                                    <img src="{% static 'img/habitaciones/rock/rock8.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación rock8">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/rock/rock9.jpg' %}" data-fancybox="gallery-rock">
                                    <img src="{% static 'img/habitaciones/rock/rock9.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación rock9">
                                </a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselRock" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselRock" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 hab-caracteristicas">
                    <h3>Habitación Rock</h3>
                    <ul>
                        <li>Habitacion por escalera</li>
                        <li>Cama doble</li>
                        <li>1 Cama simples</li>
                        <li>Set Té/Café</li>
                        <li>Pava electrica</li>
                        <li>escritorio c/ sillas</li>
                        <li>Cortinas Blackout</li>
                        <li>Baño en suite</li>
                        <li>Wifi</li>
                        <li>Servicio de limpieza cada 3 dias</li>                
                    </ul>
                    <!-- Botón Consultar -->
                    <div class="btn-container">
                        <a href="https://wa.me/2213041484" target="_blank">
                            <button class="btn-consultar">Consultar</button>
                        </a>
                    </div>
                    
                </div>

            </div>

            
            <!-- Habitación tango -->
            <div class="row mb-5 justify-content-center cont-habitacion">
                <div class="col-md-6">
                    <div id="carouselTango" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="{% static 'img/habitaciones/tango/tango6.jpg' %}" data-fancybox="gallery-tango">
                                    <img src="{% static 'img/habitaciones/tango/tango6.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/tango/tango1.jpg' %}" data-fancybox="gallery-tango">
                                    <img src="{% static 'img/habitaciones/tango/tango1.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/tango/tango2.jpg' %}" data-fancybox="gallery-tango">
                                    <img src="{% static 'img/habitaciones/tango/tango2.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/tango/tango3.jpg' %}" data-fancybox="gallery-tango">
                                    <img src="{% static 'img/habitaciones/tango/tango3.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/tango/tango4.jpg' %}" data-fancybox="gallery-tango">
                                    <img src="{% static 'img/habitaciones/tango/tango4.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/tango/tango5.jpg' %}" data-fancybox="gallery-tango">
                                    <img src="{% static 'img/habitaciones/tango/tango5.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/tango/tango6.jpg' %}" data-fancybox="gallery-tango">
                                    <img src="{% static 'img/habitaciones/tango/tango6.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/tango/tango7.jpg' %}" data-fancybox="gallery-tango">
                                    <img src="{% static 'img/habitaciones/tango/tango7.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/tango/tango8.jpg' %}" data-fancybox="gallery-tango">
                                    <img src="{% static 'img/habitaciones/tango/tango8.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/tango/tango9.jpg' %}" data-fancybox="gallery-tango">
                                    <img src="{% static 'img/habitaciones/tango/tango9.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/tango/tango10.jpg' %}" data-fancybox="gallery-tango">
                                    <img src="{% static 'img/habitaciones/tango/tango10.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/tango/tango11.jpg' %}" data-fancybox="gallery-tango">
                                    <img src="{% static 'img/habitaciones/tango/tango11.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/tango/tango12.jpg' %}" data-fancybox="gallery-tango">
                                    <img src="{% static 'img/habitaciones/tango/tango12.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselTango" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselTango" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 hab-caracteristicas">
                    <h3>Habitación Tango</h3>
                    <ul>
                        <li>Habitacion por escalera</li>
                        <li>Cama doble</li>
                        <li>2 Camas Simples</li>
                        <li>Set Té/Café</li>
                        <li>Pava electrica</li>
                        <li>escritorio c/ sillas</li>
                        <li>Cortinas Blackout</li>
                        <li>Baño privado</li>
                        <li>Wifi</li>    
                        <li>Servicio de limpieza cada 3 dias</li>   
                    </ul>
                    <!-- Botón Consultar -->
                    <div class="btn-container">
                        <a href="https://wa.me/2213041484" target="_blank">
                            <button class="btn-consultar">Consultar</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Habitación Jazz -->
            <div class="row mb-5 justify-content-center cont-habitacion">        
                <div class="col-md-6">
                    <div id="carouselJazz" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="{% static 'img/habitaciones/jazz/jazz1.jpg' %}" data-fancybox="gallery-jazz">
                                    <img src="{% static 'img/habitaciones/jazz/jazz1.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Jazz">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/jazz/jazz2.jpg' %}" data-fancybox="gallery-jazz">
                                    <img src="{% static 'img/habitaciones/jazz/jazz2.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Jazz">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/jazz/jazz3.jpg' %}" data-fancybox="gallery-jazz">
                                    <img src="{% static 'img/habitaciones/jazz/jazz3.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Jazz">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/jazz/jazz4.jpg' %}" data-fancybox="gallery-jazz">
                                    <img src="{% static 'img/habitaciones/jazz/jazz4.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Jazz">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/jazz/jazz5.jpg' %}" data-fancybox="gallery-jazz">
                                    <img src="{% static 'img/habitaciones/jazz/jazz5.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Jazz">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/jazz/jazz6.jpg' %}" data-fancybox="gallery-jazz">
                                    <img src="{% static 'img/habitaciones/jazz/jazz6.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Jazz">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% static 'img/habitaciones/jazz/jazz7.jpg' %}" data-fancybox="gallery-jazz">
                                    <img src="{% static 'img/habitaciones/jazz/jazz7.jpg' %}" class="d-block w-100" loading="lazy" alt="Habitación Jazz">
                                </a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselJazz" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselJazz" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 hab-caracteristicas">
                    <h3>Habitación Jazz</h3>
                    <ul>
                        <li>Habitacion por escalera</li>
                        <li>Cama doble</li>
                        <li>Set Té/Café</li>
                        <li>Pava electrica</li>
                        <li>Escritorio c/ sillas</li>
                        <li>Cortinas Blackout</li>
                        <li>Baño en suite</li>
                        <li>Wifi</li> 
                        <li>Servicio de limpieza cada 3 dias</li>    
                    </ul>
                    <!-- Botón Consultar -->
                    <div class="btn-container">
                        <a href="https://wa.me/2213041484" target="_blank">
                            <button class="btn-consultar">Consultar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
