{% load static %}

<!-- Sección 3: Habitaciones -->
<div class="section-rooms-bg">
    <div id="habitaciones" class="container">
        <h2 class="text-center mb-4">Nuestras Habitaciones</h2>
        <div class="seccion-habitaciones justify-content-center">

            <!-- Habitación Rock -->
            <div class="row justify-content-center cont-habitacion">          
                <div class="col-md-6">
                    <div id="carouselRock" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for img in imagenes_rock %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <a href="{% static img %}" data-fancybox="gallery-tango">
                                    <img src="{% static img %}" class="d-block w-100" loading="lazy" alt="Habitación Rock">
                                </a>
                            </div>
                            {% endfor %}                                                
                        </div>
                        <a class="carousel-control-prev" href="#carouselRock" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselRock" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 hab-caracteristicas">
                    <h3>Habitación Rock</h3>
                    <ul>
                        <li>Habitación por escalera</li>
                        <li>1 Cama doble</li>
                        <li>1 Cama simple</li>
                        <li>Pava eléctrica</li>
                        <li>Escritorio c/ sillas</li>
                        <li>Cortinas blackout</li>
                        <li>Baño en suite</li>
                        <li>Wifi</li>
                        <li>Aire acondicionado</li>
                        <li>Servicio de limpieza cada 3 dias</li>                
                    </ul>
                    <!-- Botón Consultar -->
                    <div class="btn-container">
                        <a href="https://wa.me/2213041484" target="_blank">
                            <button class="btn-consultar">Consultar</button>
                        </a>
                    </div>
                    
                </div>
            </div>

            
            <!-- Habitación tango -->
            <div class="row mb-5 justify-content-center cont-habitacion">
                <div class="col-md-6">
                    <div id="carouselTango" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for img in imagenes_tango %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <a href="{% static img %}" data-fancybox="gallery-tango">
                                    <img src="{% static img %}" class="d-block w-100" loading="lazy" alt="Habitación Tango">
                                </a>
                            </div>
                            {% endfor %}                    
                        </div>
                        <a class="carousel-control-prev" href="#carouselTango" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselTango" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 hab-caracteristicas">
                    <h3>Habitación Tango</h3>
                    <ul>
                        <li>Habitación por escalera</li>
                        <li>1 Cama doble</li>
                        <li>2 Camas Simples</li>
                        <li>Pava eléctrica</li>
                        <li>Escritorio c/ sillas</li>
                        <li>Cortinas Blackout</li>
                        <li>Baño en suite</li>
                        <li>Wifi</li>  
                        <li>Aire acondicionado</li>  
                        <li>Servicio de limpieza cada 3 dias</li>   
                    </ul>
                    <!-- Botón Consultar -->
                    <div class="btn-container">
                        <a href="https://wa.me/2213041484" target="_blank">
                            <button class="btn-consultar">Consultar</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Habitación Jazz -->
            <div class="row mb-5 justify-content-center cont-habitacion">        
                <div class="col-md-6">
                    <div id="carouselJazz" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for img in imagenes_jazz %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <a href="{% static img %}" data-fancybox="gallery-tango">
                                    <img src="{% static img %}" class="d-block w-100" loading="lazy" alt="Habitación Jazz">
                                </a>
                            </div>
                            {% endfor %}                              
                        </div>
                        <a class="carousel-control-prev" href="#carouselJazz" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselJazz" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 hab-caracteristicas">
                    <h3>Habitación Jazz</h3>
                    <ul>
                        <li>Habitación por escalera</li>
                        <li>1 Cama doble</li>
                        <li>Pava eléctrica</li>
                        <li>Escritorio c/ sillas</li>
                        <li>Cortinas Blackout</li>
                        <li>Baño privado</li>
                        <li>Wifi</li> 
                        <li>Aire acondicionado</li>
                        <li>Servicio de limpieza cada 3 dias</li>    
                    </ul>
                    <!-- Botón Consultar -->
                    <div class="btn-container">
                        <a href="https://wa.me/2213041484" target="_blank">
                            <button class="btn-consultar">Consultar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
