{% extends "layout.html" %}
{% load static %}

{% block contenedor %}


<!-- Sección 1: Carrusel portada -->
<div class="carousel-container section-banner">
    <div id="carouselBanner" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
        <div class="carousel-inner">
            <div class="carousel-item  active">
                <img src="{% static 'img/banners/banner_casahuesped1.jpg' %}" class="d-block w-100 carousel-image specific-position" alt="Casa Huesped - Imagen 1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/banners/banner_casahuesped2.jpg' %}" class="d-block w-100 carousel-image" loading="lazy" alt="Casa Huesped - Imagen 2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/banners/banner_casahuesped3.jpg' %}" class="d-block w-100 carousel-image" loading="lazy" alt="Casa Huesped - Imagen 3">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/banners/banner_casahuesped4.jpg' %}" class="d-block w-100 carousel-image" loading="lazy" alt="Casa Huesped - Imagen 4">
            </div>
        </div>
        <!-- Imagen fija sobre el carrusel -->
        <div class="carousel-logo-container">
            <img src="{% static 'img/banners/logo-banner.png' %}" class="carousel-logo" loading="lazy" alt="Nombre del Hostel">
        </div>    
    </div>
</div>


<!-- Sección 2: Misión -->
<div id="quienes" class="container-fluid container-mision mt-0 mb-0">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 text-center mission-text">
            <h5>En Casa Huésped 53, ofrecemos una experiencia de hospitalidad única en el corazón histórico de La Plata. Esta casa familiar, refaccionada por su propietario arquitecto, 
                fusiona el encanto de una casona centenaria con el confort moderno, brindando espacios ideales para descansar en un entorno que respira historia y naturaleza. Con atención 
                personalizada y un ambiente acogedor, hacemos que cada visita se sienta como en casa. Además, nuestra propuesta se enriquece con la interacción con un vivero de plantas de 
                interior, Apical, y un estudio de arquitectura convirtiendo nuestro espacio en una Casa Viva. 
            </h5>
        </div>
    </div>
</div>


<!-- Ícono de WhatsApp -->
<a href="https://wa.me/2213041484" target="_blank" class="whatsapp-icon">
    <img src="{% static 'img/logos/whatsapp.png' %}" alt="WhatsApp">
</a>

<!-- Sección 3: Habitaciones -->
{% include 'home/habitaciones.html' %}

<!-- Sección 4: Espacios Compartidos -->
{% include 'home/esp_compartidos.html' %}


<!-- Contenedor Iconos características -->
<div class="container-fluid section-features">
    <div id="feature-icons" class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="feature-container d-flex align-items-center">
                <img src="{% static 'img/logos/wifi.png' %}" alt="Wi-Fi" class="icon">
                <p class="ms-3">Wi-Fi</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="feature-container d-flex align-items-center">
                <img src="{% static 'img/logos/patio.png' %}" alt="Patio" class="icon">
                <p class="ms-3">Patio abierto/techado</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="feature-container d-flex align-items-center">
                <img src="{% static 'img/logos/cochera.png' %}" alt="Desayuno" class="icon">
                <p class="ms-3">Cochera opcional</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="feature-container d-flex align-items-center">
                <img src="{% static 'img/logos/habitacion.png' %}" alt="Habitaciones" class="icon">
                <p class="ms-3">Habitaciones privadas</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="feature-container d-flex align-items-center">
                <img src="{% static 'img/logos/baños.png' %}" alt="Baños" class="icon">
                <p class="ms-3">Baños privados y en suite</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="feature-container d-flex align-items-center">
                <img src="{% static 'img/logos/ubicacion.png' %}" alt="Ubicación" class="icon">
                <p class="ms-3">Centro de la ciudad</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal para el reglamento -->
<div class="modal fade" id="reglamentoModal" tabindex="-1" aria-labelledby="reglamentoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reglamentoModalLabel">Reglamento del Hospedaje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Check-in / Check-out</h6>
                <p>Check-in: 13:00 hs</p>
                <p>Check-out: 10:00 hs</p>
                <p>Si desean realizar un check-in anticipado (antes de las 13:00 hs) o un check-out tardío (despues las 10:00 hs), se aplicará un cargo extra, sujeto a disponibilidad.</p>
                <h6>Normas del Hospedaje</h6>
                <ul>
                    <li>Aceptamos niños mayores de 12 años.</li>  
                    <li>No se permite fumar en las habitaciones.</li>  
                    <li>Se debe respetar el horario de silencio de 22:00 a 08:00.</li>  
                    <li>No se permiten mascotas.</li>  
                    <li>Se prohíbe la entrada a las habitaciones a personas no registradas.</li>  
                    <li>Se permiten visitas en áreas comunes, con un máximo de dos personas, de 10:00 hs a 22:00 hs.</li>  
                    <li>Para su tranquilidad, contamos con servicio de emergencias médicas y cámaras de seguridad en áreas comunes.</li>  
                    <li>El pago puede realizarse en efectivo, transferencia o tarjeta de crédito con un recargo del 10%.</li>  
                    <li>Disponemos de cochera cubierta a solo una cuadra y media.</li>  
                    <li>Ofrecemos servicio de limpieza cada 3 días.</li>  
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}