{% extends "layout.html" %}
{% load static %}

{% block contenedor %}

    
<!-- Sección 1: Carrusel en lugar de banner -->
<div class="carousel-container">
    <div id="carouselBanner" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/banners/banner_casahuesped1.jpg' %}" class="d-block carousel-image" alt="Casa Huesped - Imagen 1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/banners/banner_casahuesped2.jpg' %}" class="d-block carousel-image" alt="Casa Huesped - Imagen 2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/banners/banner_casahuesped3.jpg' %}" class="d-block carousel-image" alt="Casa Huesped - Imagen 3">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/banners/banner_casahuesped4.jpg' %}" class="d-block carousel-image" alt="Casa Huesped - Imagen 4">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselBanner" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselBanner" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>


<!-- Sección 2: Misión -->
<div class="container-fluid my-5 container-mision mt-0 mb-0">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 text-center">
            <h5>En Casa Huésped 53, buscamos brindar una experiencia de hospitalidad única, ofreciendo un refugio en el corazón histórico de La Plata. Fusionamos el encanto de una casona centenaria 
                con el confort moderno, con espacios ideales para disfrutar momentos de descanso en un entorno que respira historia y naturaleza. Con atención personalizada y un ambiente acogedor, 
                buscamos que cada visita se sienta como en casa.
            </h5>
        </div>
    </div>
</div>

<!-- Sección 3: Habitaciones -->
<div id="habitaciones" class="container my-5">
    <h2 class="text-center mb-4">Nuestras Habitaciones</h2>
    <div class="row mb-5 cont-habitacion">
        <!-- Habitación Rock -->
        <div class="col-md-6">
            <div id="carouselRock" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/habitaciones/rock/rock1.jpg' %}" class="d-block w-100" alt="Habitación rock">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/habitaciones/rock/rock2.jpg' %}" class="d-block w-100" alt="Habitación rock">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/habitaciones/rock/rock3.jpg' %}" class="d-block w-100" alt="Habitación rock">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/habitaciones/rock/rock4.jpg' %}" class="d-block w-100" alt="Habitación rock">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/habitaciones/rock/rock5.jpg' %}" class="d-block w-100" alt="Habitación rock">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselRock" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselRock" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Habitación Rock</h3>
            <ul>
                <li>Cama doble</li>
                <li>2 Camas simples</li>
                <li>Set Té/Café</li>
                <li>Pava electrica</li>
                <li>escritorio c/ sillas</li>
                <li>Baño en suite</li>
                <li>Wifi</li>                
            </ul>
        </div>
    </div>

    <!-- Repite para cada habitación -->

    <div class="row mb-5 cont-habitacion">
        <!-- Habitación tango -->
        <div class="col-md-6">
            <div id="carouselTango" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/habitaciones/tango/tango6.jpg' %}" class="d-block w-100" alt="Habitación Tango">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/habitaciones/tango/tango1.jpg' %}" class="d-block w-100" alt="Habitación Tango">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/habitaciones/tango/tango2.jpg' %}" class="d-block w-100" alt="Habitación Tango">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/habitaciones/tango/tango3.jpg' %}" class="d-block w-100" alt="Habitación Tango">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/habitaciones/tango/tango4.jpg' %}" class="d-block w-100" alt="Habitación Tango">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/habitaciones/tango/tango5.jpg' %}" class="d-block w-100" alt="Habitación Tango">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselTango" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselTango" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Habitación Tango</h3>
            <ul>
                <li>Cama doble</li>
                <li>Set Té/Café</li>
                <li>Pava electrica</li>
                <li>escritorio c/ sillas</li>
                <li>Baño privado</li>
                <li>Wifi</li>       
            </ul>
        </div>
    </div>

    <div class="row mb-5 cont-habitacion">
        <!-- Habitación Jazz -->
        <div class="col-md-6">
            <div id="carouselJazz" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/habitaciones/jazz/jazz1.jpg' %}" class="d-block w-100" alt="Habitación Jazz">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/habitaciones/jazz/jazz2.jpg' %}" class="d-block w-100" alt="Habitación Jazz">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/habitaciones/jazz/jazz3.jpg' %}" class="d-block w-100" alt="Habitación Jazz">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/habitaciones/jazz/jazz4.jpg' %}" class="d-block w-100" alt="Habitación Jazz">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/habitaciones/jazz/jazz5.jpg' %}" class="d-block w-100" alt="Habitación Jazz">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselJazz" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselJazz" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Habitación Jazz</h3>
            <ul>
                <li>Cama doble</li>
                <li>1 Cama simple</li>
                <li>Set Té/Café</li>
                <li>Pava electrica</li>
                <li>escritorio c/ sillas</li>
                <li>Baño en suite</li>
                <li>Wifi</li>     
            </ul>
        </div>
    </div>

</div>


<!-- Sección 4: Espacios Compartidos -->
<div id="espacios-compartidos" class="container-fluid my-5 cont-compartidos">
    <h2 class="text-center mb-4">Espacios Compartidos</h2>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <img src="{% static 'img/espacio_comun/living1.jpg' %}" class="img-fluid" alt="Espacio Común">
        </div>
        <div class="col-md-2">
            <img src="{% static 'img/espacio_comun/living2.jpg' %}" class="img-fluid" alt="Espacio Común">
        </div>
        <div class="col-md-2">
            <img src="{% static 'img/espacio_comun/living3.jpg' %}" class="img-fluid" alt="Espacio Común">
        </div>
        <div class="col-md-2">
            <img src="{% static 'img/espacio_comun/living4.jpg' %}" class="img-fluid" alt="Espacio Común">
        </div>
        <div class="col-md-2">
            <img src="{% static 'img/espacio_comun/living5.jpg' %}" class="img-fluid" alt="Espacio Común">
        </div>
    </div>
</div>

<!-- Sección 5: Características del Alojamiento -->
<div id="caracteristicas" class="container my-5 cont-caracteristicas">
    <h2 class="text-center mb-4">Características del Alojamiento</h2>
    <div class="row">
        <div class="col-md-3">
            <h4>Espacio Privado</h4>
            <img src="{% static 'img/espacio_privado.jpg' %}" alt="Espacio Privado" class="img-fluid">
            <p>Disfruta de habitaciones cómodas y privadas.</p>
        </div>
        <div class="col-md-3">
            <h4>Patio</h4>
            <img src="{% static 'img/patio/patio1.jpg' %}" alt="Limpieza" class="img-fluid">
            <p>
                "Disfruta de un tranquilo patio verde en el corazón de la ciudad, ideal para relajarse y compartir 
                momentos en su zona al aire libre y galería. Además, cuenta con barbacoa."</p>
        </div>
        <div class="col-md-3">
            <h4>Cocina</h4>
            <img src="{% static 'img/cocina/cocina1.jpg' %}" alt="Cocina" class="img-fluid">
            <p>Cocina totalmente equipada disponible para nuestros huéspedes.</p>
        </div>
        <div class="col-md-3">
            <h4>Ubicación</h4>
            <img src="{% static 'img/ubicacion.jpg' %}" alt="Ubicación" class="img-fluid">
            <p>En el corazón de la ciudad, cerca de todas las atracciones.</p>
        </div>
    </div>
</div>

<!-- Sección 6: Mapa -->
<div id="ubicacion" class="container-fluid my-5 mapa-section">
    <h2 class="text-center mb-4">Ubicación</h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=your-map-url" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}