/* Sección 1: Carrusel de Banner */
#carouselBanner {
    .carousel-inner {
        position: relative;

        img {
            width: 100%;
            height: 65vh;
            object-fit: cover;
        }

        .carousel-item::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            z-index: 1;
        }

        .carousel-item {
            position: relative;
            transition: transform 1.2s ease-in-out; // Ajusta la duración de la transición

        }

        .carousel-item img {
            position: relative;
            z-index: 0;
        }
    }


    @media (max-width: 768px) {
        .carousel-inner img {
            height: 35vh;
        }
    }
}

.carousel-container {
    max-width: 90%;
    margin: 0 auto;
    position: relative;

    .carousel-logo-container {
        position: absolute;
        top: 80px; // Ajusta según sea necesario
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        width: 50%; // Ajusta el tamaño según sea necesario
        max-width: 600px; // Tamaño máximo
    }

    .carousel-logo {
        width: 100%; // Ajusta el tamaño según sea necesario
    }
}

@media (max-width: 1400px) {
    .carousel-container .carousel-logo-container {
        width: 100%; // Ajusta el tamaño según sea necesario
        max-width: 490px; // Tamaño máximo
        top: 45px; // Ajusta según sea necesario

    }
}

@media (max-width: 1200px) {
    .carousel-container .carousel-logo-container {
        width: 100%; // Ajusta el tamaño según sea necesario
        max-width: 490px; // Tamaño máximo
        top: 55px; // Ajusta según sea necesario

    }
}

@media (max-width: 768px) {
    .carousel-container .carousel-logo-container {
        width: 50%; // Ajusta el tamaño según sea necesario
        max-width: 265px; // Tamaño máximo
        top: 30px; // Ajusta según sea necesario
    }
}

@media (max-width: 480px) {
    .carousel-container .carousel-logo-container {
        width: 80%; // Ajusta el tamaño según sea necesario
        max-width: 250px; // Tamaño máximo
        top: 30px; // Ajusta según sea necesario
    }
}

/* Sección 2: Mision */
.container-mision {
    background-color: rgb(224, 224, 223);
    display: flex;
    padding-bottom: 1rem 0;
    justify-content: center;
    align-items: center;
    min-height: 25vh;

    .col-md-8 {
        max-width: 100%;
    }

    h5 {
        font-size: 1.3rem;
        line-height: 1.5;
        padding: 0 20px;
        margin-top: 3rem;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -1rem;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            height: 2px;
            background-color: black;
        }
    }
}

@media (max-width: 768px) {
    .container-mision .col-md-8 {
        max-width: 90%;
    }

    .container-mision h5 {
        padding: 0 15px;
    }
}


/* Contenedores generales */
.container {
    max-width: 1200px;
    padding: 60px 15px;

    h2 {
        font-size: 2.5rem;
        font-weight: 600;
        color: $primary-color;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 1.1rem;
        color: $secondary-color;
    }

    img {
        border-radius: 8px;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

/* Sección 3: Habitaciones */
#habitaciones.no-margin-bottom {
    margin-bottom: 2px;
    padding-bottom: 5px;

    .seccion-habitaciones {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 5px;

        .cont-habitacion {
            background-color: rgba(255, 255, 255, 0.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0.1, 0.1);
            padding: 1rem;
            margin-bottom: 1.5rem;
            max-width: 90%;
            position: relative;


            h3 {
                font-size: 1.75rem;
                font-weight: 500;
                color: $primary-color;
                margin-top: 1.5rem;
                margin-bottom: 1rem;
            }

            ul {
                padding-left: 20px;

                li {
                    font-size: 1rem;
                    color: $secondary-color;
                    margin-bottom: 0.5rem;
                }
            }

            .btn-consultar {
                position: absolute;
                bottom: 25px; // Ajusta según sea necesario
                right: 45px; // Ajusta según sea necesario
                padding: 10px 20px;
                background-color: $primary-color; // Ajusta el color según tu diseño
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1rem;
            }

            .carousel-inner {
                border-radius: 8px;
            }

            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                background-color: $primary-color;
                border-radius: 50%;
                background-size: 100%, 100%;
            }

            .hab-caracteristicas {
                flex: 0 0 40%;
                /* Ajusta el tamaño de la columna derecha */
                max-width: 30%;
                /* Asegura que la columna no exceda el 40% del contenedor */
                margin-left: 40px;
                border-radius: 15px;
                padding-bottom: 1px;
            }

            @media (max-width: 768px) {
                .col-md-6 {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

/* Contendero iconos caracteristicas */

#feature-icons .col-md-4 {
    flex: 0 0 28%;
    /* Ajusta el ancho de las columnas */
    max-width: 28%;
    /* Ajusta el ancho máximo de las columnas */
    margin-bottom: 1rem;
    /* Ajusta el margen inferior según tus necesidades */
    padding-left: 5px;
    /* Ajusta el margen izquierdo */
    padding-right: 5px;
    /* Ajusta el margen derecho */
}

.feature-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    /* Ajusta el ancho del contenedor */
    margin: 0 auto;

    .icon {
        width: 48px;
        height: 48px;
    }

    p {
        font-size: 1.15rem;
        font-weight: 600;
        color: $secondary-color;
        margin: 0;
        margin-left: 10px;
    }
}

@media (max-width: 992px) {
    #feature-icons .col-md-4 {
        flex: 0 0 45%;
        max-width: 45%;
    }

    .feature-container {
        width: 80%;
    }
}

@media (max-width: 768px) {
    #feature-icons .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .feature-container {
        width: 60%;
        flex-direction: column;
        text-align: center;

        .icon {
            width: 40px;
            height: 40px;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            margin-left: 0;
        }
    }
}

@media (max-width: 480px) {
    .feature-container {
        padding: 0.5rem;
        width: 60%;

        .icon {
            width: 32px;
            height: 32px;
        }

        p {
            font-size: 0.9rem;
        }
    }
}




/* Sección 5: Espacios Compartidos */
.cont-caracteristicas {
    .container {
        h4 {
            font-size: 1.5rem;
            font-weight: 600;
            color: $primary-color;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            color: $secondary-color;
        }

        .carousel-inner {
            position: relative;
            width: 100%;
            overflow: hidden;

            img {
                margin-bottom: 1rem;
                border-radius: 6px;
                object-fit: cover;
                height: 400px;
                width: 100%;
            }
        }

        .row {
            margin-bottom: 2rem;
        }
    }

    .descripcion-espacio {
        font-size: 1rem;
        line-height: 1.5;
        color: $secondary-color;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

@media (max-width: 768px) {
    .carousel-inner img {
        height: 35vh;
    }
}

/* Sección 6: Contacto */
.contacto-section {
    .btn-success {
        background-color: $btn-success-bg;
        border: none;
        padding: 12px 24px;
        font-size: 1.1rem;
        margin-top: 1rem;

        &:hover {
            background-color: $btn-success-hover-bg;
        }
    }
}