/* Estilos para la barra de navegación */
.navbar {
    background-color: #ffffff;

    .container-fluid {
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
    }

    .navbar-brand {
        margin-left: 30px;

        img {
            max-width: 40px;
            height: auto;

        }
    }

    .navbar-toggler {
        margin-right: 35px;
    }

    .navbar-nav .nav-link {
        color: #333;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 19px;
        /* Elimina la subrayado */

        &:hover {
            color: #000000;
            text-decoration: none;
            /* Asegura que no se subraye al hacer hover */
        }
    }

    @media (min-width: 992px) {
        .navbar-nav .nav-link:last-child {
            margin-right: 50px;
        }
    }

    @media (min-width: 1024px) {
        .navbar-nav .nav-link:last-child {
            margin-right: 50px;
        }
    }

    @media (min-width: 1200px) {
        .navbar-nav .nav-link:last-child {
            margin-right: 50px;
        }
    }
}

/* Estilos para el footer */
.seccion-container {
    background-color: #555353;
    color: #fff;


    .container-footer {
        height: 300px;
        /* Define una altura explícita para el contenedor del footer */
        height: auto;
        padding: 0px;

        .texto-footer {
            h2 {
                color: #c2bdbd;
            }

            p {
                margin: 0;
                color: #fff;
                font-size: 22px;

                a {
                    color: #fff;
                    text-decoration: none;


                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        /* Sección 7: Mapa */
        .mapa-footer {
            display: flex;
            align-items: center;
            /* Centra verticalmente el contenido */
            height: 400px;
            /* Asegura que el contenedor ocupe toda la altura disponible */

            .mapa-section {
                width: 100%;
                margin: 0px;
                padding: 0px;
                height: 100%;
                padding-top: 15px;

                .embed-responsive {
                    position: relative;
                    //display: block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    margin: 0px;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 0;
                    }
                }
            }
        }

        .col-md-12 {
            p {
                font-size: 16px;
                color: #fff;
            }
        }

    }

}