// Variables globales
$text-font: "Josefin Sans", sans-serif;
$primary-color: #444;
$secondary-color: #666;
$background-color: #f9f9f9;
$btn-success-bg: #25d366;
$btn-success-hover-bg: #1ebe57;
$link-color: #007bff;
$link-hover-color: #0056b3;

// Global Styles
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $text-font;
    font-weight: 700; // Aumenta el peso de la fuente para mayor jerarquía
    font-style: normal;
    font-stretch: normal;
    color: $primary-color;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem; // Tamaño más grande para h1
}

h2 {
    font-size: 2.5rem; // Tamaño más grande para h2
}

h3 {
    font-size: 2rem; // Tamaño más grande para h3
}

h4 {
    font-size: 1.75rem; // Tamaño más grande para h4
}

h5 {
    font-size: 1.5rem; // Tamaño más grande para h5
    font-weight: 400;
}

h6 {
    font-size: 1.25rem; // Tamaño más grande para h6
}

p {
    font-family: $text-font;
    color: $secondary-color;
    line-height: 1.6; // Ajusta el espacio entre líneas
    margin-bottom: 1rem;
}

body {
    font-family: $text-font;
    color: $primary-color;
    background-color: $background-color;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}